*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232222;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  margin-left: 16px;
}

.phone {
  margin-top: 11px;
  margin-right: 43px;
}

.menu {
  margin-top: 16px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item + .menu__item {
  margin-left: 30px;
}
.menu__link {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #001e64;
}
.menu__link:hover {
  border-bottom: 1px solid #001e64;
}
.menu__btn {
  display: none;
  position: relative;
  width: 40px;
  border: none;
  background-color: transparent;
  padding: 13px 0;
  z-index: 10;
}
.menu__btn span {
  display: block;
  height: 4px;
  background-color: #001e64;
}
.menu__btn span::after, .menu__btn span::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #001e64;
}
.menu__btn span::before {
  top: 0;
}
.menu__btn span::after {
  bottom: 0;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}
.header__content {
  background-image: url(../images/bg/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 20px;
  margin-top: -102px;
  min-height: calc(100vh - 50px);
}
.header__content-btn {
  position: absolute;
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  padding: 14px 88px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-left: 112px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__content-btn:hover {
  color: #001e64;
  background-color: white;
}
.header__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}
.header__content-link--active {
  font-weight: 700;
}

.title__h1 {
  font-family: "Roboto Slab", serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 95px;
  color: #001e64;
  max-width: 589px;
  padding: 170px 0px 0px 112px;
  margin-bottom: 85px;
}

.header-slider {
  width: auto;
  max-width: 522px;
  padding: 55px 0px 130px 112px;
}
.header-slider__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.header-slider__item {
  padding-bottom: 50px;
  margin-bottom: 0px;
}

.slick-vertical .slick-slide {
  max-height: 220px;
}

.slick-prev,
.slick-next {
  position: absolute;
  left: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slick-prev {
  top: 0;
}

.slick-next {
  bottom: 0;
}

.slick-dots {
  position: absolute;
  top: 58px;
  left: 36px;
  bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.slick-dots button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  opacity: 0.5;
}
.slick-dots button::before {
  content: "0";
}

.slick-active button {
  opacity: 1;
}

.product {
  padding-top: 100px;
}
.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__content {
  width: 600px;
}
.product__name {
  width: 510px;
  text-align: center;
  padding-top: 41px;
}
.product__name-item {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}
.product__name-item + .product__name-item {
  margin-top: 25px;
}
.product__name-item.slick-current {
  font-size: 36px;
  font-weight: 700;
  color: #001e64;
}
.product__content-title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #001e64;
  padding-top: 20px;
  margin-bottom: 20px;
}
.product__content-text {
  margin-bottom: 25px;
}
.product__content-btn {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #001e64;
  border-radius: 20px;
  color: #001e64;
  padding: 12px 85px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.product__content-btn:hover {
  color: #fff;
  background-color: #001e64;
}
.product__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__content-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.product__content-list {
  width: 291px;
  list-style: none;
}
.product__content-item {
  margin-bottom: 30px;
}
.product__content-item span {
  display: block;
  margin-bottom: 10px;
  color: #001e64;
}

.product-prev,
.product-next {
  border: none;
  background-color: transparent;
  padding: 0%;
  cursor: pointer;
}

.product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.seafood-box,
.seafood-box--phone {
  background-image: url(../images/bg/seafood-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 290px 0 95px 0;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
.seafood-box__items,
.seafood-box--phone__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.seafood-box__item,
.seafood-box--phone__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 180px;
  min-height: 165px;
  background-image: url(../images/bg/seashell.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.seafood-box--phone {
  display: none;
  padding: 30px 0 30px 0;
  margin-top: 20px;
  background-image: url(../images/bg/seafoodmin-bg.jpg);
}

.seafood {
  padding: 100px 0px;
}
.seafood__items {
  margin-bottom: 100px;
}
.seafood__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.seafood__item-title {
  max-width: 490px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #001e64;
  margin-bottom: 30px;
}
.seafood__item-text {
  max-width: 420px;
  margin-bottom: 20px;
}
.seafood__blockquote {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.seafood__blockquote-text {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 628px;
  margin: 0 auto;
}

.seafood__item--right .seafood__item-title {
  max-width: 420px;
}

.seafood__item--right .seafood__item-content {
  margin-right: 180px;
}

.contacts {
  background-image: url(../images/bg/contact-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.contacts__box {
  width: 390px;
  background-color: #fff;
  padding: 33px 0px 33px 20px;
  margin-left: auto;
}
.contacts__box-text {
  width: 200px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 24px;
  color: #001e64;
  margin-bottom: 30px;
}
.contacts__box-list {
  list-style: none;
  font-size: 18px;
  line-height: 21px;
}
.contacts__box-item {
  margin-top: 30px;
}
.contacts__box-item span {
  display: block;
}

.footer {
  padding: 25px 0px 110px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px 45px 0px 23px;
}
.footer__inner .menu {
  padding-bottom: 32px;
}
.footer__inner .logo {
  margin-left: 0;
}

.footer-social__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-social__link:hover path {
  fill: #001e64;
}

@media (max-width: 1160px) {
  .product__name {
    width: 350px;
  }

  .footer__inner .menu {
    display: none;
  }
}
@media (max-width: 1100px) {
  .seafood__item-content {
    padding-right: 20px;
  }

  .seafood__item--right {
    padding-right: 0;
  }
  .seafood__item--right .seafood__item-content {
    padding-left: 20px;
  }
}
@media (max-width: 1000px) {
  .menu {
    margin-top: 12px;
    margin-right: 30px;
    margin-left: auto;
  }
  .menu__list {
    display: block;
    position: absolute;
    top: -350px;
    left: 20%;
    right: 20%;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 5;
  }
  .menu__link:hover {
    border: none;
  }
  .menu__list.menu__list--active {
    top: 75px;
  }
  .menu__item + .menu__item {
    margin-left: 0;
  }
  .menu__btn {
    display: block;
  }
  .menu__link {
    display: block;
    text-align: center;
    padding: 20px;
  }

  .product__name {
    width: 250px;
  }
}
@media (max-width: 950px) {
  .seafood img {
    max-width: 100%;
  }
  .seafood__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .seafood__item--right {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .seafood__item-content {
    padding-right: 0;
  }

  .seafood__item--right .seafood__item-content {
    padding-left: 0;
    margin-right: 0px;
  }

  .seafood__item-title,
.seafood__item-text {
    max-width: 100%;
  }
}
@media (max-width: 890px) {
  .product__inner {
    display: block;
  }
  .product__content {
    margin: 0 auto;
  }
  .product__name {
    width: 100%;
    padding-top: 0;
    margin-bottom: 80px;
  }
  .product__name-item + .product__name-item {
    margin-top: 0;
  }
  .product__name-item.slick-current {
    line-height: 44px;
  }
  .product__name .slick-dots {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 85px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .product__name .slick-dots button {
    background-color: #c4c4c4;
    width: 10px;
    height: 10px;
    font-size: 0;
    padding: 0;
    border-radius: 50%;
    margin: 0 5px;
  }
  .product .product__name .slick-active button {
    background-color: #001e64;
  }
}
@media (max-width: 745px) {
  .title__h1 {
    font-size: 50px;
    line-height: 66px;
    text-align: center;
    max-width: 100%;
    padding-left: 0;
  }

  .phone {
    margin-right: 10px;
  }

  .slick-vertical .slick-slide {
    height: 450px;
  }

  .header-slider {
    padding: 55px 0px 120px 100px;
  }
  .header-slider__item {
    margin-bottom: 15px;
  }
}
@media (max-width: 650px) {
  .product__content {
    width: 100%;
  }
  .product__name-item {
    font-size: 18px;
    line-height: 40px;
  }
  .product__name-item.slick-current {
    font-size: 22px;
    line-height: 40px;
  }

  .seafood {
    padding: 50px 0;
  }
  .seafood__items {
    margin-bottom: 50px;
  }

  .seafood-box {
    display: none;
  }

  .seafood-box--phone {
    display: block;
  }

  .contacts {
    background-image: none;
  }
  .contacts__box {
    width: 100%;
    padding: 33px 0 33px 0;
  }

  .footer {
    padding-bottom: 40px;
  }
  .footer__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__inner .logo {
    display: none;
  }
}
@media (max-width: 600px) {
  .product__content-box {
    display: block;
    margin-top: -10px;
  }
  .product__content-box img {
    margin: 0 auto;
  }

  .product__content-list {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .header-slider__text {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media (max-width: 470px) {
  .header__content-btn {
    padding: 12px 55px;
    margin-left: 55px;
  }
  .header .title__h1 {
    font-size: 34px;
    line-height: 44px;
  }
  .header .header-slider {
    padding-left: 50px;
  }
  .header .slick-dots {
    left: 5px;
  }
  .header .slick-prev,
.header .slick-next {
    left: 9px;
  }
  .header .slick-vertical .slick-slide {
    height: 450px;
  }

  .phone {
    margin-right: 5px;
  }

  .product {
    padding-top: 50px;
  }
  .product__name .slick-dots {
    top: 55px;
  }
  .product__content-btn {
    display: block;
    padding: 12px 55px;
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  .header__content-btn {
    margin-left: 45px;
  }
  .header .title__h1 {
    padding-top: 145px;
  }
  .header .header-slider {
    padding-top: 0px;
    padding-left: 5px;
  }

  .logo {
    margin-left: 0;
  }
  .logo__img {
    width: 75%;
    margin-bottom: 30px;
  }

  .menu__list {
    left: 10%;
    right: 10%;
  }
}