*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232222;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.logo {
  margin-left: 16px;
}

.phone {
  margin-top: 11px;
  margin-right: 43px;
}

.menu {
  margin-top: 16px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item + .menu__item {
  margin-left: 30px;
}
.menu__link {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #001e64;
}
.menu__link:hover {
  border-bottom: 1px solid #001e64;
}

.header__content {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 20px;
  margin-top: -102px;
  min-height: calc(100vh - 50px);
}

.title__h1 {
  font-family: "Roboto Slab", serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 95px;
  color: #001e64;
  max-width: 589px;
  padding: 170px 0px 0px 112px;
  margin-bottom: 60px;
}

.header-slider {
  max-width: 522px;
  padding: 57px 0px 135px 112px;
}
.header-slider__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.slick-prev,
.slick-next {
  position: absolute;
  left: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slick-prev {
  top: 0;
}

.slick-next {
  bottom: 0;
}

.slick-dots {
  position: absolute;
  top: 58px;
  left: 36px;
  bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.slick-dots button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  opacity: 0.5;
}
.slick-dots button::before {
  content: "0";
}

.slick-active button {
  opacity: 1;
}

.header__content-btn {
  position: absolute;
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  padding: 14px 88px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-left: 112px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.header__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100%;
  margin-right: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.header__content-link--active {
  font-weight: 700;
}

.product {
  padding-top: 100px;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__content {
  width: 600px;
}

.product__name {
  width: 510px;
  text-align: center;
  padding-top: 41px;
}

.product__name-item {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}

.product__name-item.slick-current {
  font-size: 36px;
  font-weight: 700;
  color: #001e64;
}

.product__name-item + .product__name-item {
  margin-top: 25px;
}

.product-prev,
.product-next {
  border: none;
  background-color: transparent;
  padding: 0%;
  cursor: pointer;
}

.product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__content-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.product__content-list {
  width: 291px;
  list-style: none;
}

.product__content-item {
  margin-bottom: 30px;
}
.product__content-item span {
  display: block;
  margin-bottom: 10px;
  color: #001e64;
}

.product__content-title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #001e64;
  padding-top: 20px;
  margin-bottom: 20px;
}

.product__content-text {
  margin-bottom: 25px;
}

.product__content-btn {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #001e64;
  border-radius: 20px;
  color: #001e64;
  padding: 12px 85px;
  cursor: pointer;
}