// ---- ---- colors ---- ---- //
$colormain: #001e64;
$colortext01: #fff;
$colortext02: #232222;

// ---- ----  ---- ---- //

*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $colortext02;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.logo {
  margin-left: 16px;
}
.phone {
  margin-top: 11px;
  margin-right: 43px;
}
.menu {
  margin-top: 16px;
  &__list {
    display: flex;
  }
  &__item + .menu__item {
    margin-left: 30px;
  }
  &__link {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: $colormain;
    &:hover {
      border-bottom: 1px solid $colormain;
    }
  }
}

.header__content {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 20px;
  margin-top: -102px;
  min-height: calc(100vh - 50px);
}
.title {
  &__h1 {
    font-family: "Roboto Slab", serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 95px;
    color: $colormain;
    max-width: 589px;
    padding: 170px 0px 0px 112px;
    margin-bottom: 60px;
  }
}
.header-slider {
  max-width: 522px;
  padding: 57px 0px 135px 112px;
  &__text {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;
    color: $colortext01;
  }
}
.slick-prev,
.slick-next {
  position: absolute;
  left: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.slick-prev {
  top: 0;
}
.slick-next {
  bottom: 0;
}
.slick-dots {
  position: absolute;
  top: 58px;
  left: 36px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    line-height: 28px;
    color: $colortext01;
    opacity: 0.5;

    &::before {
      content: "0";
    }
  }
}
.slick-active {
  button {
    opacity: 1;
  }
}
.header__content-btn {
  position: absolute;
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $colortext01;
  padding: 14px 88px;
  background-color: rgba($color: #fff, $alpha: 0.5);
  border-radius: 20px;
  margin-left: 112px;
  transform: translateY(-100px);
}

.header__content-box {
  display: flex;
  margin-left: 100%;
  margin-right: 30px;
  font-size: 18px;
  line-height: 21px;
  color: $colortext01;
}
.header__content-link--active {
  font-weight: 700;
}

.product {
  padding-top: 100px;
}
.product__inner {
  display: flex;
  justify-content: space-between;
}
.product__content {
  width: 600px;
}
.product__name {
  width: 510px;
  text-align: center;
  padding-top: 41px;
}

.product__name-item {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}
.product__name-item.slick-current {
  font-size: 36px;
  font-weight: 700;
  color: $colormain;
}
.product__name-item + .product__name-item {
  margin-top: 25px;
}
.product-prev,
.product-next {
  border: none;
  background-color: transparent;
  padding: 0%;
  cursor: pointer;
}
.product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.product__content-box {
  display: flex;
  justify-content: space-between;
}
.product__content-img {
  object-fit: cover;
}
.product__content-list {
  width: 291px;
  list-style: none;
}
.product__content-item {
  margin-bottom: 30px;

  span {
    display: block;
    margin-bottom: 10px;
    color: $colormain;
  }
}
.product__content-title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: $colormain;
  padding-top: 20px;
  margin-bottom: 20px;
}
.product__content-text {
  margin-bottom: 25px;
}
.product__content-btn {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $colormain;
  border-radius: 20px;
  color: $colormain;
  padding: 12px 85px;
  cursor: pointer;
}
.seafood-box {
  background-image: url(../images/seafood-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 290px 0 95px 0;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: $colortext01;
}
.seafood-box__items {
  display: flex;
  justify-content: space-around;
}
.seafood-box__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 180px;
  min-height: 165px;
  background-image: url(../images/seashell.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
