// ---- ---- colors ---- ---- //
$colormain: #001e64;
$colortext01: #fff;
$colortext02: #232222;

// ---- ----  ---- ---- //

*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $colortext02;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  margin-left: 16px;
}
.phone {
  margin-top: 11px;
  margin-right: 43px;
}
.menu {
  margin-top: 16px;
  &__list {
    display: flex;
  }
  &__item + .menu__item {
    margin-left: 30px;
  }
  &__link {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: $colormain;
    &:hover {
      border-bottom: 1px solid $colormain;
    }
  }

  &__btn {
    display: none;
    position: relative;
    width: 40px;
    border: none;
    background-color: transparent;
    padding: 13px 0;
    z-index: 10;

    span {
      display: block;
      height: 4px;
      background-color: $colormain;
      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        background-color: $colormain;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
  }
}
.header {
  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  &__content {
    background-image: url(../images/bg/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 20px;
    margin-top: -102px;
    min-height: calc(100vh - 50px);
  }
  &__content-btn {
    position: absolute;
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $colortext01;
    padding: 14px 88px;
    background-color: rgba($color: #fff, $alpha: 0.5);
    border-radius: 20px;
    margin-left: 112px;
    transform: translateY(-100px);
    transition: all 0.3s;
  }
  &__content-btn:hover {
    color: $colormain;
    background-color: rgba($color: #fff, $alpha: 1);
  }

  &__content-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    font-size: 18px;
    line-height: 21px;
    color: $colortext01;
  }
  &__content-link--active {
    font-weight: 700;
  }
}
.title {
  &__h1 {
    font-family: "Roboto Slab", serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 95px;
    color: $colormain;
    max-width: 589px;
    padding: 170px 0px 0px 112px;
    margin-bottom: 85px;
  }
}
.header-slider {
  width: auto;
  max-width: 522px;
  padding: 55px 0px 130px 112px;
  &__text {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;
    color: $colortext01;
  }
  &__item {
    padding-bottom: 50px;
    margin-bottom: 0px;
  }
}
.slick-prev,
.slick-next {
  position: absolute;
  left: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.slick-prev {
  top: 0;
}
.slick-next {
  bottom: 0;
}
.slick-dots {
  position: absolute;
  top: 58px;
  left: 36px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    line-height: 28px;
    color: $colortext01;
    opacity: 0.5;

    &::before {
      content: "0";
    }
  }
}
.slick-active {
  button {
    opacity: 1;
  }
}

.product {
  padding-top: 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 600px;
  }
  &__name {
    width: 510px;
    text-align: center;
    padding-top: 41px;
  }

  &__name-item {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
  }
  &__name-item + .product__name-item {
    margin-top: 25px;
  }
  &__name-item.slick-current {
    font-size: 36px;
    font-weight: 700;
    color: $colormain;
  }
  &__content-title {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: $colormain;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  &__content-text {
    margin-bottom: 25px;
  }
  &__content-btn {
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid $colormain;
    border-radius: 20px;
    color: $colormain;
    padding: 12px 85px;
    transition: all 0.3s;
    cursor: pointer;
  }

  &__content-btn:hover {
    color: $colortext01;
    background-color: $colormain;
  }
  &__content-box {
    display: flex;
    justify-content: space-between;
  }
  &__content-img {
    object-fit: cover;
  }
  &__content-list {
    width: 291px;
    list-style: none;
  }
  &__content-item {
    margin-bottom: 30px;

    span {
      display: block;
      margin-bottom: 10px;
      color: $colormain;
    }
  }
}

.product-prev,
.product-next {
  border: none;
  background-color: transparent;
  padding: 0%;
  cursor: pointer;
}
.product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.seafood-box,
.seafood-box--phone {
  background-image: url(../images/bg/seafood-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 290px 0 95px 0;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: $colortext01;
  &__items {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 180px;
    min-height: 165px;
    background-image: url(../images/bg/seashell.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.seafood-box--phone {
  display: none;
  padding: 30px 0 30px 0;
  background-image: url(../images/bg/seafoodmin-bg.jpg);
}
.seafood {
  padding: 100px 0px;

  &__items {
    margin-bottom: 100px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__item-title {
    max-width: 490px;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: $colormain;
    margin-bottom: 30px;
  }
  &__item-text {
    max-width: 420px;
    margin-bottom: 20px;
  }
  &__blockquote {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  &__blockquote-text {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    line-height: 24px;
    max-width: 628px;
    margin: 0 auto;
  }
}

.seafood__item--right .seafood__item-title {
  max-width: 420px;
}
.seafood__item--right .seafood__item-content {
  margin-right: 180px;
}

.contacts {
  background-image: url(../images/bg/contact-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;

  &__box {
    width: 390px;
    background-color: #fff;
    padding: 33px 0px 33px 20px;
    margin-left: auto;
  }
  &__box-text {
    width: 200px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    line-height: 24px;
    color: $colormain;
    margin-bottom: 30px;
  }
  &__box-list {
    list-style: none;
    font-size: 18px;
    line-height: 21px;
  }
  &__box-item {
    margin-top: 30px;
    span {
      display: block;
    }
  }
}

.footer {
  padding: 25px 0px 110px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 45px 0px 23px;

    .menu {
      padding-bottom: 32px;
    }
    .logo {
      margin-left: 0;
    }
  }
}
.footer-social__list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.footer-social__item + .footer-social__item {
  margin-left: 10px;
}
.footer-social__link path {
  transition: all 0.3s;
}
.footer-social__link:hover path {
  fill: $colormain;
}

// ---- ---- media 1160 ---- ---- //

@media (max-width: 1160px) {
  .product__name {
    width: 350px;
  }

  .footer__inner {
    .menu {
      display: none;
    }
  }
}

// ---- ---- media 1100 ---- ---- //

@media (max-width: 1100px) {
  .seafood__item-content {
    padding-right: 20px;
  }
  .seafood__item--right {
    padding-right: 0;
    .seafood__item-content {
      padding-left: 20px;
    }
  }
}

// ---- ---- media 1000 ---- ---- //

@media (max-width: 1000px) {
  .menu {
    margin-top: 12px;
    margin-right: 30px;
    margin-left: auto;

    &__list {
      display: block;
      position: absolute;
      top: -350px;
      left: 20%;
      right: 20%;
      background-color: $colortext01;
      transition: all 0.5s;
      z-index: 5;
    }
    &__link:hover {
      border: none;
    }
    &__list.menu__list--active {
      top: 75px;
    }
    &__item + .menu__item {
      margin-left: 0;
    }
    &__btn {
      display: block;
    }
    &__link {
      display: block;
      text-align: center;
      padding: 20px;
    }
  }
  .product__name {
    width: 250px;
  }
}

// ---- ---- media 950 ---- ---- //

@media (max-width: 950px) {
  .seafood {
    img {
      max-width: 100%;
    }
    &__item {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item--right {
      flex-wrap: wrap-reverse;
    }
    &__item-content {
      padding-right: 0;
    }
  }
  .seafood__item--right .seafood__item-content {
    padding-left: 0;
    margin-right: 0px;
  }
  .seafood__item-title,
  .seafood__item-text {
    max-width: 100%;
  }
}

// ---- ---- media 890 ---- ---- //

@media (max-width: 890px) {
  .product {
    &__inner {
      display: block;
    }
    &__content {
      margin: 0 auto;
    }
    &__name {
      width: 100%;
      padding-top: 0;
      margin-bottom: 80px;
    }
    &__name-item + .product__name-item {
      margin-top: 0;
    }
    &__name-item.slick-current {
      line-height: 44px;
    }
    &__name .slick-dots {
      flex-direction: row;
      justify-content: center;
      top: 85px;
      left: 0;
      right: 0;
      bottom: 0;

      button {
        background-color: #c4c4c4;
        width: 10px;
        height: 10px;
        font-size: 0;
        padding: 0;
        border-radius: 50%;
        margin: 0 5px;
      }
    }
    .product__name .slick-active button {
      background-color: $colormain;
    }
  }
}
@media (max-width: 745px) {
  .title__h1 {
    font-size: 50px;
    line-height: 66px;
    text-align: center;
    max-width: 100%;
    padding-left: 0;
  }

  .phone {
    margin-right: 10px;
  }
}
// ---- ---- media 650  ---- ---- //

@media (max-width: 650px) {
  .product {
    &__content {
      width: 100%;
    }
    &__name-item {
      font-size: 18px;
      line-height: 40px;
    }
    &__name-item.slick-current {
      font-size: 22px;
      line-height: 40px;
    }
  }

  .seafood {
    padding: 50px 0;
    &__items {
      margin-bottom: 50px;
    }
  }
  .seafood-box {
    display: none;
  }
  .seafood-box--phone {
    display: block;
  }

  .contacts {
    background-image: none;
    &__box {
      width: 100%;
      padding: 33px 0 33px 0;
    }
  }

  .footer {
    padding-bottom: 40px;
    &__inner {
      justify-content: center;
      .logo {
        display: none;
      }
    }
  }
}

// ---- ---- media 600 ---- ---- //

@media (max-width: 600px) {
  .product__content-box {
    display: block;
    margin-top: -10px;
    img {
      margin: 0 auto;
    }
  }
  .product__content-list {
    width: 100%;
  }
}

// ---- ---- media 470 ---- ---- //

@media (max-width: 470px) {
  .header {
    &__content-btn {
      padding: 12px 55px;
      margin-left: 55px;
    }
    .title__h1 {
      font-size: 34px;
      line-height: 44px;
    }
    .header-slider {
      padding-left: 50px;
    }
    .slick-dots {
      left: 5px;
    }
    .slick-prev,
    .slick-next {
      left: 9px;
    }
  }
  .phone {
    margin-right: 5px;
  }

  .product {
    padding-top: 50px;

    &__name .slick-dots {
      top: 55px;
    }

    &__content-btn {
      display: block;
      padding: 12px 55px;
      margin: 0 auto;
    }
  }
}

// ---- ---- media 360 ---- ---- //

@media (max-width: 360px) {
  .header {
    &__content-btn {
      margin-left: 45px;
    }
    .title__h1 {
      padding-top: 145px;
    }
    .header-slider {
      padding-top: 0px;
      padding-left: 5px;
    }
  }
  .logo {
    margin-left: 0;
    &__img {
      width: 75%;
      margin-bottom: 30px;
    }
  }

  .menu__list {
    left: 10%;
    right: 10%;
  }
}
